<!DOCTYPE html>
<html class="sl-theme-dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>moombox</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/dark.css" crossorigin="anonymous"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='moombox.css') }}" crossorigin="anonymous"/>
  </head>
  <body>
    <sl-tab-group>
      {% include 'panel_tasks.html' %}
    </sl-tab-group>
  </body>
</html>
