<!DOCTYPE html>
<html class="sl-theme-dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer">
    <meta name="theme-color" content="#1C1B22">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">

    <title>moombox</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/dark.css" crossorigin="anonymous"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.0/dist/htmx.min.js" integrity="sha256-D8V7oOZVUE0oK7bsHD2JJAzenyzhw5PVs4qVxbxtqHU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.3/dist/ws.min.js" integrity="sha256-Pw7TU95j30Vug92V4eldgIMA+cAD7g6LoR23UT0tfI0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/idiomorph@0.7.4/dist/idiomorph-ext.min.js" integrity="sha256-pkN+VbG2oHvEIfDSMCZqOTmbaCbG7Rng7ZxjtwdESl8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.3/dist/sse.min.js" integrity="sha256-IEoX7Cv0kLffWS9V6+VH5EsJn7U8iLRC0LztDhAyfhI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='moombox.css') }}" crossorigin="anonymous"/>
  </head>
  <body>
    <sl-tab-group>
      {% include 'panel_tasks.html' %}
      {% include 'panel_config.html' %}
    </sl-tab-group>
  </body>
</html>
