<sl-tab slot="nav" panel="tasks">Tasks</sl-tab>
<sl-tab-panel id="tab__tasks" name="tasks">
  <div id="tasklist__toolbar">
    <sl-button id="tasklist__additem" variant="primary" onclick="document.querySelector('#dialog').show();"><sl-icon slot="prefix" name="plus"></sl-icon>Add video</sl-button>
    <form id="add_video_form" hx-post="{{ url_for('add_video') }}" hx-swap="none" hx-on::after-request="document.querySelector('#add_video_form').reset(); document.querySelector('#dialog').hide();">
      <sl-dialog label="Add a video" id="dialog">
        <sl-input name="url" label="Video URL" defaultValue="" placeholder="https://youtu.be/&hellip;" inputmode="url" required autofocus autocomplete="off"></sl-input>
        <sl-input name="path" label="Download path" defaultValue="" placeholder="{{- cfgmgr.config.downloader.output_directory or './downloads' -}}" autocomplete="off"></sl-input>
        <sl-details summary="Additional options">
          <!-- the 'submitted' hidden input determines if we intentionally unchecked the associated field, versus omitting it (e.g. when POSTing) -->
          <sl-checkbox name="write_thumbnail" {{ "checked" if cfgmgr.config.downloader.write_thumbnail }}>Download thumbnail</sl-checkbox>
          <input type="hidden" name="submitted_write_thumbnail" value="1">

          <sl-checkbox name="write_description" {{ "checked" if cfgmgr.config.downloader.write_description }}>Download description</sl-checkbox>
          <input type="hidden" name="submitted_write_description" value="1">

          <sl-checkbox name="keep_ts_files" value="1" {{ "checked" if cfgmgr.config.downloader.keep_ts_files }}>Keep raw stream files</sl-checkbox>
          <input type="hidden" name="submitted_keep_ts_files" value="1">

          <sl-checkbox name="prioritize_vp9" value="1" {{ "checked" if cfgmgr.config.downloader.prioritize_vp9 }}>Prefer VP9 over H264 at equivalent resolution</sl-checkbox>
          <input type="hidden" name="submitted_prioritize_vp9" value="1">

          <sl-checkbox name="prioritize_av1" value="1" {{ "checked" if cfgmgr.config.downloader.prioritize_av1 }}>Prefer AV1 over H264 at equivalent resolution</sl-checkbox>
          <input type="hidden" name="submitted_prioritize_av1" value="1">

          <sl-input type="number" label="Concurrent stream download jobs" name="num_parallel_downloads" min="1" value="{{- cfgmgr.config.downloader.num_parallel_downloads -}}" step="1"></sl-input>
          <sl-select label="Maximum video resolution" name="max_video_resolution" value="{{- cfgmgr.config.downloader.max_video_resolution -}}">
            {% for resolution in valid_resolution_values | sort(reverse=True) %}
            <sl-option value="{{ resolution }}">{{ resolution }}p</sl-option>
            {% endfor %}
          </sl-select>
        </sl-details>
        <sl-button slot="footer" variant="primary" type="submit" id="add-video" style="width: 100%;">Add</sl-button>
      </sl-dialog>
    </form>
    <sl-input id="tasklist__searchbar" type="search" name="search" placeholder="Search tasks" hx-post="/search" hx-trigger="input changed delay:500ms, keyup[key=='Enter']" hx-target="#video-table">
      <sl-icon name="search" slot="prefix"></sl-icon>
    </sl-input>
  </div>
  <div hx-ext="sse,morph" sse-connect="{{ url_for('push_overview') }}" hx-swap="none" sse-swap="message" >
    {% include 'video_table.html' %}
  </div>
  <script>
    const INPUT_TAGS = new Set(["INPUT", "TEXTAREA", "SELECT", "SL-INPUT"]);
    
    /* bind forward slash to focus on task search */
    window.addEventListener("keydown", e => {
      if (e.key !== "/") {
        return;
      }
      const search = document.querySelector("#tasklist__searchbar");
      if (!document.querySelector("#tab__tasks").active) {
        return;
      } else if (INPUT_TAGS.has(document.activeElement.tagName)) {
        return;
      }
      
      e.preventDefault();
      e.stopPropagation();
      search.focus();
    });
    
    if (localStorage.getItem("webui.compact") ?? false) {
      const videoTable = document.getElementById("video-table");
      videoTable.classList.add("compact");
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("localconf__compact").checked = true;
      }, false);
    }
    
    document.addEventListener("htmx:afterSettle", event => {
      /* reapply compact modifier to table after changes */
      if (event.detail.elt.matches("#video-table") && (localStorage.getItem("webui.compact") ?? false)) {
        event.detail.elt.classList.add("compact");
      }
    });
    
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector("#video-table").classList.remove("video-table--initial");
    });
  </script>
</sl-tab-panel>
