<div id="video-job" hx-swap-oob="morph">
  <div id="video-job-visual">
    <iframe class="video-embed" src="https://www.youtube-nocookie.com/embed/{{video_item.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% set max_seq = [video_item.max_seq, video_item.video_seq, video_item.audio_seq, 1] | max %}
    {% set cur_seq = [video_item.video_seq, video_item.audio_seq] | min %}
    <sl-progress-bar class="job-progress-bar" value="{{ 100 * cur_seq / max_seq }}"></sl-progress-bar>
  </div>
  <div id="video-job-info">
    <div id="video-job-info-title">{{video_item.title}}</div>
    <div id="video-job-info-author">
      <a href="https://youtube.com/channel/{{video_item.channel_id}}">{{ video_item.author or 'unknown author' }}</a>
    </div>
    <br>
    <sl-badge class="status {{video_item.status | lower}}" variant="primary">
      {{video_item.status}}
    </sl-badge>
    <br>
    <br>
    <div>Video fragments: {{video_item.video_seq + 1}}</div>
    <div>Audio fragments: {{video_item.audio_seq + 1}}</div>
    <div>Total available fragments: {{video_item.max_seq + 1}}</div>
    <br>
    <div>
      Raw downloaded size: <sl-format-number value="{{video_item.total_downloaded}}"></sl-format-number> bytes
      ({{video_item.total_downloaded | human_size}})
    </div>
  </div>
</div>
