<div id="video-job" hx-swap-oob="morph">
  <div id="video-job-visual">
    <iframe class="video-embed" src="https://www.youtube-nocookie.com/embed/{{video_item.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% set max_seq = [video_item.max_seq, video_item.video_seq, video_item.audio_seq, 1] | max %}
    {% set cur_seq = [video_item.video_seq, video_item.audio_seq] | min %}
    <sl-progress-bar class="job-progress-bar" value="{{ 100 * (cur_seq + 1) / max_seq }}"></sl-progress-bar>
  </div>
  <div id="video-job-info">
    <div id="video-job-info-title">{{video_item.title}}</div>
    <div id="video-job-info-author">
      <a href="https://youtube.com/channel/{{video_item.channel_id}}">{{ video_item.author or 'unknown author' }}</a>
    </div>
    <sl-badge class="status {{video_item.status | lower}}" variant="primary">
      {{video_item.status}}
    </sl-badge>
    <div id="fragment-summary">
      <div>Video fragments: {{video_item.video_seq + 1}}</div>
      <div>Audio fragments: {{video_item.audio_seq + 1}}</div>
      <div>Total available fragments: {{video_item.max_seq + 1}}</div>
      <div>
        Raw downloaded size: <sl-format-number value="{{video_item.total_downloaded}}"></sl-format-number> bytes
        ({{video_item.total_downloaded | human_size}})
      </div>
    </div>
    <div id="output-summary">
      <div>
        Output size:
        <sl-format-number value="{{video_item.total_muxed}}"></sl-format-number> bytes
        ({{video_item.total_muxed | human_size}})
      </div>
    </div>
    {% if video_item.manifest_progress %}
    <div id="manifest-breakdown">
      Manifest breakdown:
      <ul>
      {% for manifest, progress in video_item.manifest_progress.items() %}
        <li><span class="manifest-id">{{manifest}}</span>: V: {{progress.video_seq + 1}} / A: {{progress.audio_seq + 1}} / T: {{progress.max_seq + 1}} / DL: {{progress.total_downloaded | human_size}} {%- if progress.output.total_size %} / OUT: {{ progress.output.total_size | human_size }} {%- endif %}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div>
      <small>Message log:</small>
      <div>
        <textarea id="video-job-messages" wrap="off" rows="16" readonly>
        {%- for datestamp, message in video_item.message_log %}[{{ datestamp.strftime('%Y-%m-%d %H:%M:%S') }}] {{ message + "\n" }}{% endfor -%}
        </textarea>
      </div>
    </div>
    <div id="video-healthcheck">
      Upstream video status:
      <sl-icon-button hx-post="{{ url_for('request_status_update', id=video_item.id) }}" hx-swap="none" name="arrow-clockwise"></sl-icon-button>
      <span id="video-healthcheck-status">{{ video_item.healthcheck.result }}</span>
      {% if video_item.healthcheck.last_update %}
      (last checked <sl-relative-time date="{{ video_item.healthcheck.last_update }}" sync></sl-relative-time>)
      {% endif %}
    </div>
    {% if video_item.can_delete_tempfiles %}
    <div id="danger-zone">
      <small>Danger zone:</small>
      <form hx-confirm="Are you sure you want to delete temporary files?" hx-swap="none">
        <sl-button id="remove-staging" variant="danger" size="medium" hx-delete="{{ url_for('delete_job_tempfiles', id=video_item.id) }}" outline>
          <sl-icon slot="prefix" name="trash" aria-hidden="true" library="default"></sl-icon>
          Delete temporary staging files
        </sl-button>
        <!-- removing the final output file is far too destuctive, so we don't implement it here -->
      </form>
    </div>
    {% endif %}
  </div>
</div>
