body {
  font-family: var(--sl-font-sans);
  margin: 0;
}
a {
  color: var(--sl-color-primary-700);
  text-decoration: none;
  &:hover {
    color: var(--sl-color-primary-800);
  }
}
#video-table {
  display: grid;
  grid-template-columns: fit-content(12.5%) auto fit-content(12.5%) fit-content(18.375%);
  padding: var(--sl-spacing-medium) 0;
  gap: var(--sl-spacing-x-small) 0;
  @media only screen and (max-width: 992px) {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: var(--sl-spacing-x-small);
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
  @media only screen and (max-width: 576px) {
    grid-template-columns: minmax(0px, 1fr);
  }
}
#video-table-header, .video-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 5;
  @media only screen and (max-width: 992px) {
    grid-column: initial;
  }
}
#video-table-header {
  border-bottom: 1px solid;
  padding-bottom: var(--sl-spacing-x-small);
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-semibold);
  border-color: var(--sl-color-neutral-300);
  
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
.video-item {
  @media only screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    background-color: var(--sl-color-neutral-50);
    padding: var(--sl-spacing-small);
  }
}
#video-table-header, .video-item {
  gap: var(--sl-spacing-x-small);
}
.video-item > div {
  align-self: center;
}
.thumb {
  width: 100%;
  & > img {
    object-fit: cover;
    max-height: 6rem;
    aspect-ratio: 16 / 9;
    border-radius: var(--sl-border-radius-medium);
    width: 100%;
    display: block;
    @media only screen and (max-width: 992px) {
      margin-bottom: var(--sl-spacing-x-small);
      max-height: initial;
    }
  }
}
sl-badge.status {
  text-transform: uppercase;

  &.waiting::part(base) {
    background-color: var(--sl-color-purple-700);
  }
  &.downloading::part(base) {
    background-color: var(--sl-color-success-500);
  }
  &.muxing::part(base) {
    background-color: var(--sl-color-warning-500);
  }
  &.error::part(base) {
    background-color: var(--sl-color-danger-500);
  }
  &.finished::part(base) {
    background-color: var(--sl-color-primary-500);
  }
  &.unavailable::part(base) {
    background-color: var( --sl-color-neutral-600);
  }
}
#dialog::part(body) {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-small);
  padding: 0 var(--body-spacing);
}
.stream-author > a {
  color: var(--sl-color-neutral-700);
  &:hover {
    color: var(--sl-color-neutral-800);
  }
}
sl-tab::part(base) {
  padding: var(--sl-spacing-x-small) var(--sl-spacing-small) ;
}
sl-tab-panel {
  --padding: var(--sl-spacing-medium);
}
sl-details::part(content) {
  display: flex;
  flex-direction:column;
  gap: var(--sl-spacing-x-small);
  padding-top: 0;
}
.job-progress {
  display: flex;
  flex-direction: row;
}
.job-progress-message {
  align-self: center;
  flex: 1;
}
.job-progress-info {
  align-self: center;
}
#configtext::part(textarea) {
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-small);
}
#config-panel {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
}
#config-post {
  display: flex;
  gap: var(--sl-spacing-x-small);
}
#config-message {
  font-size: var(--sl-button-font-size-medium);
  align-self: center;
}
#video-healthcheck sl-relative-time {
  /* hides trailing whitespace text node */
  display: inline-block;
}
